/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  // RNA-seq test data from Gendrel et al. (2012)
  // Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  maxCpus = 4
  maxMemory = 32.GB
  maxTime = 1.h

  // Input data
  /*
  readPaths = [
    ['SRR1106775_1', ["$projectDir/test/data/SRR1106775-1M_1.fastq.gz", "$projectDir/test/data/SRR1106775-1M_2.fastq.gz"]],
    ['SRR1106776_1', ["$projectDir/test/data/SRR1106776-1M_1.fastq.gz", "$projectDir/test/data/SRR1106776-1M_2.fastq.gz"]]
   ]
  */
  // Sample Plan - to use instead of readPaths
  samplePlan = "$projectDir/test/samplePlan.csv"

  // Design
  design = "$projectDir/test/design.csv"

  // Metadata
  metadata = "$projectDir/test/metadata.tsv"

  // Annotations
  genome =  'mm10'
}
